@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');

$gray: #222222;
$silver: #A3A3A3;
$white: #FFFFFF;
$black: #0A090C;
$red: #AC1F27;
$black-border: 1px solid $black;
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

.about_container {
    background-color: $gray;
}

.about_header {
    background: url('../../images/kettlebell.jpg') no-repeat center;
    background-size: cover;
    height: 70vh;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about_logo {
    margin-top: 70px;
    height: 225px;
}

.right_header {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 23vw;
    height: 80px;
    background-color: rgba(10, 9, 12, 0.8);
    margin-top: 15px;
    color: $white;
    font-family: $roboto;
    .about_phone {
        font-size: 40px;
    }
}


.header {
    color: $white;
    font-size: 60px;
    font-family: $oswald;
}