@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');

$gray: #525252;
$silver: #A3A3A3;
$white: #FFFFFF;
$black: #0A090C;
$red: #AC1F27;
$black-border: 1px solid $black;
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;

